<!DOCTYPE HTML>
<html>
<head>
<title>Flask AJAX Demo</title>
    
    <script>
    function loadDoc() {
        var req = new XMLHttpRequest()
        req.onreadystatechange = function() {
            if (req.readyState == 4 && req.status == 200) {
                var response = JSON.parse(req.responseText)
                document.getElementById('result').innerHTML = response.output
                }
            }
        req.open('POST', '/WS_test')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        var val1 = document.getElementById('val1').value
        var val2 = document.getElementById('val2').value
        var postVars = 'data='+val1+','+val2
        req.send(postVars)
        return false
    }
    </script>
    
    <script>
    function changed(value) {
        var req2 = new XMLHttpRequest()
        req2.onreadystatechange = function() {
            if (req2.readyState == 4 && req2.status == 200) {
                var response = JSON.parse(req2.responseText)
                document.getElementById('button_result').innerHTML = response.output
                }
            }
        req2.open('POST', '/button_result')
        req2.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        var postVars = 'button_value='+value
        req2.send(postVars)
        return false
   }
    </script>

</head>
<body>


<h1>Flask AJAX Demo</h1>
    
<form action="" method="POST">
    <label for="val1"><h2>First number to add:</h2></label>
    <input type="text" name="val1" id="val1">
    <label for="val2"><h2>Second number to add:</h2></label><br>
    <input type="text" name="val2" id="val2"><br><br>
    <input type="button" value="Submit" onclick="return loadDoc()">
    <br><br>
</form>
    
<br>
    <div id="result">
</div>
    
<br><br>
<input type='button' class='button'
onClick='changed({{default[1]}})'
value={{default[0]}}>

<table class="center" border=4>
{% for key, choices in buttons.items() %}
    <tr>
    <td>
    <input type='button' class='button'
    value={{key}}>
    </td>
    {% for toggle, value in choices.items() %}
        <td>
        <input type='button' class='button'
        onClick='changed({{value}})'
        value={{toggle}}>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>


<br>
    <div id="button_result">
</div>

</body>
</html>