<!doctype html>
<html>
    
<style>
<!-- border doesn_t seem to work -->
.button {
  background-color: transparent;
  color: rgb(250, 0, 250);
  font-size: 4.0rem;
  margin: 10px 15px;
  border: none;
}
</style>

  <head>
    <title>Raspberry Pi 4 Video Streaming</title>
      <link rel="stylesheet" 
            href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <h1>Raspberry Pi 4 Video Streaming</h1>

    <img src="{{ url_for('video_feed') }}">
    <!-- WS the following line will put up a second identical frame -->
    <!-- img src="{{ url_for('video_feed') }}" -->

    <script>
    function changed(value)
    {window.location.href='/' + value}
    </script>

    <br></br>
    <input type='button' class='button'
    onClick='changed({{default[1]}})'
    value={{default[0]}}>

    <table class="center" border=4>
    {% for key, choices in buttons.items() %}
        <tr>
        <td>
        <input type='button' class='button'
        value={{key}}>
        </td>
        {% for toggle, value in choices.items() %}
            <td>
            <input type='button' class='button'
            onClick='changed({{value}})'
            value={{toggle}}>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
  </body>
</html>
